body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

button {
    margin: 0 auto;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}

img {
    height: 200px;
}

#logo {
    margin-bottom: 40px;
}

#rightHearts {
    position: absolute;
    right: 50px;
    top: 50px;
}

#leftHearts {
    transform: scaleX(-1);
    position: absolute;
    left: 50px;
    bottom: 50px;
}

@media (max-width: 425px) or (max-height: 425px) {
    img {
        height: 100px;
    }
    #logo {
        margin-bottom: 10px;
    }
    #rightHearts {
        right: 20px;
        top: 200px;
    }
    #leftHearts {
        left: 20px;
        bottom: 200px;
    }
}