label {
    font-family: "Prompt", sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

input {
    font-family: "Prompt", sans-serif; 
    border: 2px solid #D6202A; 
    border-radius: 5px; 
    font-size: 25px; 
    
}