/* MENU */
#menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

#menu img {
    width: 50px;
    height: 50px;
}

#settings {
    display: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF5F5;
    border: 5px solid #D6202A;
    border-radius: 36px;
    padding: 40px;
    text-align: center;
    z-index: 10;
}

.option {
    margin: 0 auto; /* to make buttons be on their own line */
}

#settingsClose {
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
    font-size: 50px;
    line-height: 0.5em;
}



/* REST OF THE PAGE */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #FFF5F5; /*light pink*/
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.2;
    font-size: 96px;
    font-weight: 800;
    color: #D6202A;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

p {
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin: 0;
}


button {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #D6202A;
    background-color: transparent;
    border: none;
    padding:  0;
    display: block;
}

button:hover:enabled {
    cursor: pointer;
    transform: scale(1.2);
}

@media (max-width: 425px) or (max-height: 425px) {
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 14px;
    }
    button {
        font-size: 1em;
    }

    #menu {
        top: 8px;
        right: 8px;
    }
    #menu img {
        width: 32px;
        height: 32px;
    }
    #settings {
        width: 150px;
        padding: 30px;
    }

}