body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #FFF5F5; /*light pink*/
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.2;
    font-size: 96px;
    font-weight: 800;
    color: #D6202A;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

p {
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}


button {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #D6202A;
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}