/* AUTHOR: Amanda (ruana2@rpi.edu) */
/* DESC: Styling for the Voting page. */

#container
{
    padding-top: 80px;
    text-align: center;
}

h1
{
    padding: 0 10px;
}

#name
{
    color: black;
}

#buttons
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 48px;
    margin-top: 10px;
}

.votingButton
{
    border: 5px solid #D6202A;
    border-radius: 36px;
    padding: 20px;
}

.votingButton:hover:enabled
{
    transform: scale(1.1);
}

#submit
{
    position: absolute;
    bottom: 50px;
    right: 80px;
}

#confirmation
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.hidden
{
    display:none;
}

.fadeOut
{
    animation-name: fadeOut;
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@media (max-width: 500px) or (max-height: 500px)
{
    #container
    {
        padding-top: 140px;
    }

    #name
    {
        font-size: 60px;
    }

    #buttons
    {
        gap: 20px;
    }

    .votingButton
    {
        border-width: 2px;
        border-radius: 18px;
    }

    .votingButton img
    {
        width: 72px;
    }

    #submit
    {
        bottom: 20px;
        right: 30px;
    }
}

@media (max-height: 500px)
{
    #container
    {
        padding-top: 40px;
    }
}