/*  AUTHOR: Amanda (ruana2@rpi.edu) */
/*  DESC: Styling for Post Game page.  */

#container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 60px;
}

#container h1
{
    padding: 0 20px;
}

#rejoin, #quit
{
    margin: 0 auto;
}

