#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

#codeForm {
    padding-top: 10px;
}

#codeGroup {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.code {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    text-transform: uppercase;
    text-align: center;
    height: 220px;
    width: 152px;
    background-color: transparent;
    border: 5px solid #D6202A;
    border-radius: 36px;
}

.code:focus {
    background-color: #ffb9c1;
}

#response {
    display: none;
    width: fit-content;
    color: #D6202A;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
}

@media (max-width: 425px) or (max-height: 425px) {
    #codeGroup {
        gap: 4px;
    }
    .code {
        font-size: 32px;
        height: 68px;
        width: 48px;
        border-width: 2px;
        border-radius: 18px;
    }
}