#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
}

#container h1 {
    padding: 0 20px;
}

@media (max-width: 425px) or (max-height: 425px) {
    #container {
        gap: 40px;
    }
}