#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

#header {
    display: flex;
    justify-content: space-between;
}

#timer {
    font-size: 40px;
    font-weight: 800;
    color: #D6202A;
    padding: 10px 0 0 20px;
}

.prompt {
    padding: 10px 40px;
    text-align: center;
    overflow-wrap: break-word;
}

#answers {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.answerCard {
    width: 25%;
    height: 120px;
    overflow-wrap: break-word;
    border: 5px solid #D6202A;
    border-radius: 36px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
    color: #000000;

}

.answerCard:hover {
    transform: scale(1.1);
}

#textboxForm {
    display: none;
}

#textbox {
    margin: auto;
    display: block;
    width: 800px;
    height: 300px;
    border: 5px solid #D6202A;
    border-radius: 36px;
    padding: 20px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}

.timerBar {
    width: 80%;
    position: absolute;
    bottom: 30px;
    margin: 0 10%;
}

.timerBar div {
    height: 8px;
    background: #D6202A;
    border-radius: 20px;
    animation: timerBar linear forwards;
    animation-Duration: 61s; 
    transform-origin: left center;
}

@keyframes timerBar {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@media (max-width: 425px) or (max-height: 425px) {
    #header img {
        height: 48px;
    }
    #timer {
        font-size: 20px;
    }
    #answers {
        gap: 12px;
    }
    .answerCard {
        border-width: 2px;
        border-radius: 18px;
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 425px) {
    #questionContainer {
        margin-top: 40px;
    }
    .prompt {
        padding: 10px 40px 30px 40px;
    }
    .answerCard {
        width: 45%;
        height: 100px;
    }
}

@media (max-height: 425px) {
    .answerCard {
        height: 72px;
    }
    .timerBar {
        bottom: 8px;
    }
}