#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 0 10px;
}

@media (max-width: 500px) or (max-height: 500px) {
    img {
        width: 20px;
        height: 20px;
        padding: 0 6px;
    }
    h1 {
        font-size: 55px;
    }
}