#container {
    height: 100vh;
    overflow: hidden;
}

#container h1{
    margin-top: 80px;
    margin-bottom: 32px;
}

#scrollContainer {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
}

#players {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    animation: 30s scrollContainer 0s linear infinite;
}

@keyframes scrollContainer {
    from {
        top: 100%;
    }
    to {
        top: -300%;
    }
}

.playerCard {
    display: block;
    float: left;  /* to have the player card be left aligned, set float: left; clear: right; */
    clear: right;
    border: 5px solid #D6202A;
    border-radius: 36px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 10px 0;
}

.userImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #D6202A;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 500px) or (max-height: 500px) {
    #scrollContainer {
        width: 80%;
    }
    .playerCard {
        border-width: 2px;
        border-radius: 18px;
    }
    .userImage {
        width: 100px;
        height: 100px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

@media (max-height: 500px) {
    #scrollContainer {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 50%;
        margin: auto;
    }

    #players {
        display: flex;
        flex-direction: row;
        gap: 60px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        animation: 30s scrollContainer 0s linear infinite;
    }

    @keyframes scrollContainer {
        from {
            left: 100%;
        }
        to {
            left: -300%;
        }
    }
}