#container {
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
}

#scrollContainer {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 100vh;
    margin: auto;
}

#players {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    animation: 15s scrollContainer 0s linear infinite;
}

@keyframes scrollContainer {
    from {
        top: 100%;
    }
    to {
        top: -300%;
    }
}

#players:hover {
    animation-play-state: paused;
}

.playerCard {
    display: block;
    float: left;  /* to have the player card be left aligned, set float: left; clear: left; */
    clear: left;
    border: 5px solid #D6202A;
    border-radius: 36px;
    width: fit-content;
    text-align: center;
    margin: 10px 0;
}

.userImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #D6202A;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}